{% extends "layout.html" %}
{% block content %}



        </div>
    </div>
</div>    

<div id="section-about"onload="sampleFunction()">
    <div id="aboutcard" class="card col-md-8">
        <div class="card-header ">
          <b>ABOUT</b>
        </div>
        <div class="card-body">
          <p class="title">TITLE : Recipe Generation From Food Image</p>
          <p class="title">ABSTRACT :</p>
          <p class="aboutcontent">People enjoy food photography because they appreciate
            food. Behind each meal there is a story described in a complex recipe and, unfortunately, by simply looking at a food
            image we do not have access to its preparation process.
            Therefore, in this paper we introduce an inverse cooking
            system that recreates cooking recipes given food images.
            Our system predicts ingredients as sets by means of a novel
            architecture, modeling their dependencies without imposing any order, and then generates cooking instructions by
            attending to both image and its inferred ingredients simultaneously.
            </p>
        </div>
      </div>
</div>

{% endblock content %}
